# Byte-compiled / optimized / DLL files
__pycache__/

# Data files
*.csv
*.xlsx
*.xls
*.json

# Office Files
*.ppt
*.pptx
*.pdf

# Junk
.ipynb_checkpoints/
.idea/

usherwood_ds/data_imports/api_credentials.json
